page-atualizar-senha {
    .toolbar-background-md {
        background-color: rgb(113, 89, 193) !important;
     }
     .toolbar-title-md {
       color: white;
    } 

    #div-roda-pe {
        width: 93%;
        margin: 0 auto;
        margin-top: 1%;
    }

    ion-content{
        color: rgb(113, 89, 193);
    }

    .cor-padrao{
        color: rgb(113, 89, 193);
    }
}