tela-forum {
    .toolbar-background-md {
        background-color: rgb(113, 89, 193) !important;
     }
     .toolbar-title-md {
       color: white;
    } 
    #div-roda-pe {
        width: 93%;
        margin: 0 auto;
        margin-top: 1%;
    }
    ion-content{
        color: rgb(113, 89, 193);
    }
    .circle {
        background-color: #aaa;
        border-radius: 50%;
        width: 150px !important;
        height: 150px;
        overflow: hidden;
        position: relative;
      }
      .circle img {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .font-dados{
        color: rgb(113, 89, 193);
        font-weight: bold;
        text-align: right;
      }
}