exibicao-foto-perfil {
    .toolbar-background-md {
        background-color: rgb(113, 89, 193) !important;
     }
     .toolbar-title-md {
       color: white;
    } 
    .img{
        text-align: center;
        margin-top: 8%;
    }
}